gromozeka:
  postgres:
    jdbc-url: ${GROMOZEKA_POSTGRES_JDBC_URL}
    username: ${GROMOZEKA_POSTGRES_USERNAME}
    password: ${GROMOZEKA_POSTGRES_PASSWORD}

spring:
  rabbitmq:
    addresses: ${GROMOZEKA_RABBITMQ_ADDRESSES}
    username: ${GROMOZEKA_RABBITMQ_USERNAME}
    password: ${GROMOZEKA_RABBITMQ_PASSWORD}
