**
!deploy/
!deploy/docker/
!deploy/docker/server.Dockerfile
!deploy/docker/worker.Dockerfile
!server/
!server/build/
!server/build/libs/
!server/build/libs/gromozeka-server.jar
!worker/
!worker/build/
!worker/build/libs/
!worker/build/libs/gromozeka-worker.jar
!presentation/
!presentation/build/
!presentation/build/dist/
!presentation/build/dist/wasmJs/
!presentation/build/dist/wasmJs/productionExecutable/
!presentation/build/dist/wasmJs/productionExecutable/**
