**
!LICENSE
!deploy/
!deploy/docker/
!deploy/docker/server.Dockerfile
!deploy/docker/worker.Dockerfile
!deploy/distribution/
!deploy/distribution/gromozeka-browser-mcp
!deploy/distribution/runtime-bootstrap.sh
!deploy/distribution/runtime-versions.properties
!browser-mcp/
!browser-mcp/package.json
!browser-mcp/package-lock.json
!browser-mcp/LICENSE
!browser-mcp/NOTICE
!browser-mcp/UPSTREAM.md
!browser-mcp/THIRD_PARTY_NOTICES.txt
!browser-mcp/scripts/
!browser-mcp/scripts/**
!server/
!server/build/
!server/build/libs/
!server/build/libs/gromozeka-server.jar
!worker/
!worker/build/
!worker/build/libs/
!worker/build/libs/gromozeka-worker.jar
!presentation/
!presentation/build/
!presentation/build/dist/
!presentation/build/dist/wasmJs/
!presentation/build/dist/wasmJs/productionExecutable/
!presentation/build/dist/wasmJs/productionExecutable/**
