**
!LICENSE
!deploy/
!deploy/docker/
!deploy/docker/server.Dockerfile
!server/
!server/build/
!server/build/libs/
!server/build/libs/gromozeka-server.jar
!presentation/
!presentation/build/
!presentation/build/dist/
!presentation/build/dist/wasmJs/
!presentation/build/dist/wasmJs/productionExecutable/
!presentation/build/dist/wasmJs/productionExecutable/**
