<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:label="Gromozeka"
        android:usesCleartextTraffic="true"
        android:theme="@style/GromozekaTheme">
        <meta-data
            android:name="com.gromozeka.DEFAULT_REMOTE_URL"
            android:value="${gromozekaDefaultRemoteUrl}" />
        <meta-data
            android:name="com.gromozeka.ENABLE_LOCATION_TELEMETRY"
            android:value="${gromozekaEnableLocationTelemetry}" />

        <activity
            android:name="com.gromozeka.presentation.MainActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.gromozeka.presentation.FixTextActionActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:label="Fix text"
            android:noHistory="true"
            android:theme="@style/GromozekaQuickTextActionTheme">
            <intent-filter>
                <action android:name="android.intent.action.PROCESS_TEXT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.gromozeka.presentation.TranslateTextActionActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:label="Translate"
            android:noHistory="true"
            android:theme="@style/GromozekaQuickTextActionTheme">
            <intent-filter>
                <action android:name="android.intent.action.PROCESS_TEXT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
    </application>
</manifest>
